params.outputdir=""/home/nassimaima/single_end"
params.sampleInputDir = "/media/nassimaima/HistoPan"
params.sampleList = "samlist.txt"
params.samPsuffix = "_R1.fastq.gz"		
params.picard= "/data/picard.jar"
params.gatk="/data/gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar"
params.ref="/home/nassimaima/ensembl_v105_GRCh38_p13"
params.alignIntronMax =1000000 
params.alignMatesGapMax= 1000000 
params.limitOutSJcollapsed =1000000 
params.limitSjdbInsertNsj =1000000 
params.outFilterMultimapNmax =100 
params.winAnchorMultimapNmax =50 
params.alignSJoverhangMin =15 
params.alignSJDBoverhangMin =1 
params.alignIntronMin =20 
params.outFilterMatchNminOverLread =0
params.outFilterScoreMinOverLread = 0.3 
params.outFilterMismatchNmax = 33 
params.outFilterMismatchNoverLmax = 0.33 

process {
	executor = 'google-lifesciences'
    container = 'genehetx/genehetx-rnaseq:latest'
	


    withName: doSTAR{
        cpus = 16
        memory = 40.GB
        disk = 200.GB
    }

	withName: FCounts{
		cpus = 16
        memory = 40.GB
        disk = 200.GB
	}	
	withName:multiqc{
		cpus = 16
       memory = 40.GB
       disk = 200.GB
	
	}

	errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
    maxRetries = 2
}
google {
    project = 'genomixsandbox'
    zone = 'europe-west4-a'
    lifeSciences.bootDiskSize=80.GB
    google.lifeSciences.preemptible=true
}


docker.enabled = true
docker.temp="auto"

docker.runOptions = '-u $(id -u):$(id -g)'
report.enabled = true


