
params.no_gatk=false
params.outputdir="/path/to/your/resultdir/"
params.sampleInputDir = "/path/to/your inputdir/"
params.sampleList = "samlist.txt"
params.samPsuffix = ".fastq.gz"		
params.refFasta = "ftp.ensembl.org/pub/release-105/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
params.refGTF ="ftp.ensembl.org/pub/release-105/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
params.picard= "/data/picard.jar"
params.gatk="/data/gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar"
params.vcf = "ftp.ensembl.org/pub/release-105/variation/vcf/homo_sapiens/1000GENOMES-phase_3.vcf.gz "



process {
    withName:buildIndex {
        container = 'genehetx/genehetx-rnaseq'
    }
    withName: doSTAR{
        container = 'genehetx/genehetx-rnaseq'
    }
	withName: FCounts{
        container = 'genehetx/genehetx-rnaseq'
		
	}	
	withName: PicardSamsorted{
        container = 'genehetx/genehetx-rnaseq'
    }

	
	withName:gatk_vc{
        container = 'genehetx/genehetx-rnaseq'	
	}
	
}
docker {
    enabled = true
}

