params.no_gatk=false
params.outputdir="/mnt/d/fastq/out_single_end_01"
params.sampleInputDir = "gs://firstest/lexogen210222"
params.sampleList = "samlist.txt"
params.samPsuffix = "_R1_001.fastq.gz"		
///params.refFasta = "ftp.ensembl.org/pub/release-105/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
///params.refGTF ="http://ftp.ensembl.org/pub/release-105/gtf/homo_sapiens/Homo_sapiens.GRCh38.105.chr.gtf.gz"
params.refFasta="gs://firstest/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
params.refGTF="gs://firstest/Homo_sapiens.GRCh38.105.chr.gtf.gz"
process {
	executor = 'google-lifesciences'
    container = 'genehetx/genehetx-rnaseq:latest'
	withName:buildIndex {
		cpus = 8
       memory = 40.GB
       disk = 200.GB
    }    
	
    withName:fastqc {
		cpus = 8
       memory = 40.GB
       disk = 200.GB
        
    }

    withName: doSTAR{
        cpus = 8
        memory = 40.GB
        disk = 200.GB
    }

	withName: FCounts{
		cpus = 8
        memory = 40.GB
        disk = 200.GB
	}	
	withName:multiqc{
		cpus = 8
       memory = 40.GB
       disk = 200.GB
	
	}

	errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
    maxRetries = 2
}
google {
    project = 'genomixsandbox'
    zone = 'europe-west4-a'
    lifeSciences.bootDiskSize=80.GB
    google.lifeSciences.preemptible=true
}


docker.enabled = true
docker.temp="auto"


report.enabled = true


