params.outputdir="/hoome/nassimaima/paired_end_pipeline"
params.sampleInputDir = "gs://firstest/smarter210222"
params.sampleList = "samlist.txt"
params.samPsuffix1 = "_R1_001.fastq.gz"		
params.samPsuffix2 = "_R2_001.fastq.gz"	
params.refFasta = "gs://firstest/Homo_sapiens.GRCh38.dna.toplevel.fa.gz"
params.refGTF ="gs://firstest/Homo_sapiens.GRCh38.105.chr.gtf.gz"
params.picard= "/data/picard.jar"
params.gatk="/data/gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar"
params.vcf= "gs://firstest/1000GENOMES-phase_3.vcf.gz"


process {
	executor = 'google-lifesciences'
    container = 'genehetx/genehetx-rnaseq:latest'
	
   withName:buildIndex {
		cpus = 16
       memory = 40.GB
       disk = 200.GB
    }    
	
    withName:fastqc {
		cpus = 16
       memory = 40.GB
       disk = 200.GB
        
    }

    withName: doSTAR{
        cpus = 16
        memory = 40.GB
        disk = 200.GB
    }

	withName: FCounts{
		cpus = 16
        memory = 40.GB
        disk = 100.GB
	}	
	withName:multiqc{
		cpus = 16
       memory = 40.GB
       disk = 200.GB
	
	}	
	withName:PicardSamsorted{
	
		cpus = 16
        memory = 40.GB
        disk = 200.GB
	}
	withName: gatk_vc{
		cpus = 16
        memory = 40.GB
        disk = 200.GB
	}
	
	errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
    maxRetries = 2
}

process{
	executor = 'google-lifesciences'
    	container = 'genehetx/vep_hs:1.0'

	withName: Vep{
		cpus = 8
        memory = 40.GB
        disk = 200.GB
	}


}
google {
    project = 'genomixsandbox'
    zone = 'europe-west4-a'
    lifeSciences.bootDiskSize=80.GB
    google.lifeSciences.preemptible=true
}


docker.enabled = true
docker.temp="auto"


report.enabled = true


