params.kallisto=true
params.variant_calling=true
params.outputdir="/path/to your/directory"
params.sampleInputDir = "/path/to your/directory"
params.sampleList = "/path/to/samlist.txt"
params.samPsuffix1 = "_R1_001.fastq.gz"		
params.samPsuffix2 = "_R2_001.fastq.gz"	
params.picard= "/data/picard.jar"
params.gatk="/data/gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar"
params.ref="/path/to/ensembl_v105_GRCh38_p13"
params.alignIntronMax =1000000 
params.alignMatesGapMax= 1000000 
params.limitOutSJcollapsed = 1000000 
params.limitSjdbInsertNsj = 1000000 
params.outFilterMultimapNmax =100 
params.winAnchorMultimapNmax =50 
params.alignSJoverhangMin =15 
params.alignSJDBoverhangMin =1 
params.alignIntronMin =20 
params.outFilterMatchNminOverLread =0
params.outFilterScoreMinOverLread = 0.3 
params.outFilterMismatchNmax = 33 
params.outFilterMismatchNoverLmax = 0.33 
params.bootstrap = 100
params.read_len = 120
params.read_sd=20


process {


    withName: doSTAR{
        cpus = 16
        container = 'genehetx/genehetx-rnaseq:latest'
       
    }
	withName: FCounts{
	cpus = 16
	container = 'genehetx/genehetx-rnaseq:latest'
       
	}
	withName: kallisto_paired_end{
	cpus = 16
	container = 'genehetx/genehetx-rnaseq:latest'
	
	}
	withName: Kallisto_single_end{
	cpus = 16
	container = 'genehetx/genehetx-rnaseq:latest'
	
	}
	withName: gatk_vc{
	cpus = 16
        container = 'genehetx/genehetx-rnaseq:latest'
	}
	withName: Vep{
	cpus = 16
        container = 'genehetx/vep_hs:1.0'
	}
		
	withName:multiqc{
	cpus = 8
       container = 'genehetx/genehetx-rnaseq:latest'
	
	}	
	
}




docker.enabled = true
docker.temp="auto"

docker.runOptions = '-u $(id -u):$(id -g)'
report.enabled = true
