/*  MAJOR PARAMETER
* Smarter pico: 2 and --rf-stranded
* Lexogen Quantseq 3' FWD: 1 and --fr-stranded
*/
params.FeatureCountStrand = 1
params.kallistoStrand=" --fr-stranded "

/*	Input data
*/
params.samPsuffix1 = "_R1_001.fastq.gz"
params.samPsuffix2 = "_R2_001.fastq.gz"




/*	Choose to run optional processes
* set to true or false. e.g.: params.kallisto=true runs kallisto
*/
params.starcount=true
params.kallisto=false
params.variant_calling=false




//STAR parametrs
params.alignIntronMax =1000000
params.alignMatesGapMax= 1000000
params.limitOutSJcollapsed = 1000000
params.limitSjdbInsertNsj = 1000000
params.outFilterMultimapNmax =10
params.winAnchorMultimapNmax =50
params.alignSJoverhangMin =15
params.alignSJDBoverhangMin =1
params.alignIntronMin =20
params.outFilterMatchNminOverLread =0
params.outFilterScoreMinOverLread = 0.3
params.outFilterMismatchNmax = 33
params.outFilterMismatchNoverLmax = 0.33

//kallisto parameters
// params.bootstrap = 100
params.read_len = 120
params.read_sd=20

//Internal parameters (no need to change them)
params.picard= "/data/picard.jar"
params.gatk="/data/gatk-4.2.5.0/gatk-package-4.2.5.0-local.jar"


executor {
    name = 'slurm'
    queueSize = 20
}

process {



withName : buildref{
cpus = 16
container= 'genehetx/genehetx-rnaseq:latest'
memory = 40.GB
}

withName: doOnlySTARnCount{
cpus = 12
container = 'genehetx/genehetx-rnaseq:latest'
memory = 60.GB
}

withName: Kallisto_single_end{
cpus = 12
container = 'genehetx/genehetx-rnaseq:latest'
memory = 14.GB
}

errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
maxRetries = 2

}

cleanup = false


// Enable sigularity here
singularity {
    enabled = true
    singularity.autoMounts = true
    cacheDir = "singularity/"
}


report.enabled = true
