/*  MAJOR PARAMETER
* Smarter pico: 2 and --rf-stranded
* Lexogen Quantseq 3' FWD: 1 and --fr-stranded
*/
params.FeatureCountStrand = 2
params.kallistoStrand=" --rf-stranded "

/*	Input data
*/
params.samPsuffix1 = "_R1.fastq.gz"
params.samPsuffix2 = "_R2.fastq.gz"



/*	Input of Reference Genome and transcriptome
* either :
*					- Pre-computed, set directory  in params.ref. Ex. params.ref="gs://pipebuff/ensembl_v105_GRCh38_GRCm39"
*					- Set params.ref="no_ref" URL for GTF, fasta, cdna and known vcf
*/

params.ref= "/path/to/ensembl_v113_GRCh38/"
params.vep_cache="/path/to/ensembl_v113_GRCh38/VEP"

/*	If params.ref="no_ref"
* Fasta, gtf, vcf, cDNA, VEP, dbKraken à faire aussi
*/
params.fasta_ref= "http://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
params.GTF= "http://ftp.ensembl.org/pub/release-113/gtf/homo_sapiens/Homo_sapiens.GRCh38.113.chr.gtf.gz"
params.known_vcf= "http://ftp.ensembl.org/pub/release-113/variation/vcf/homo_sapiens/1000GENOMES-phase_3.vcf.gz"
params.cdna= "http://ftp.ensembl.org/pub/release-113/fasta/homo_sapiens/cdna/Homo_sapiens.GRCh38.cdna.all.fa.gz"
params.idx_vep = "http://ftp.ensembl.org/pub/release-113/variation/indexed_vep_cache/homo_sapiens_vep_113_GRCh38.tar.gz"



/*	Choose to run optional processes
* set to true or false. e.g.: params.kallisto=true runs kallisto
*/
params.starcount=false
params.star=true
params.fcounts=true
params.multiqc=true
params.kallisto=true
params.gatk4=true
params.deepvariant=false
params.vep=true


//Deepvariant parameters
params.modelckptdeepar="/path/to/modules/model/"
params.nproc = 8
params.min_coverage = 3

//STAR parametrs
params.alignIntronMax =1000000
params.alignMatesGapMax= 1000000
params.limitOutSJcollapsed = 1000000
params.limitSjdbInsertNsj = 1000000
params.outFilterMultimapNmax =10
params.winAnchorMultimapNmax =50
params.alignSJoverhangMin =15
params.alignSJDBoverhangMin =1
params.alignIntronMin =20
params.outFilterMatchNminOverLread =0
params.outFilterScoreMinOverLread = 0.3
params.outFilterMismatchNmax = 33
params.outFilterMismatchNoverLmax = 0.33

//kallisto parameters
// params.bootstrap = 100
params.read_len = 120
params.read_sd=20

//Internal parameters (depend docker genehetx-rnaseq_v1.6.0)
params.picard= "/usr/local/bin/picard.jar"
params.gatk="/usr/local/gatk-4.6.1.0/gatk-package-4.6.1.0-local.jar"
params.tmpdir = '/path/to/tmp/'

process {
    withName: buildref{
        cpus = 16
        container= 'genehetx/genehetx-rnaseq:v1.6.0'
        memory = 40.GB
        disk = 300.GB
    }

    withName: doSTAR{
        cpus = 12
        container = 'genehetx/genehetx-rnaseq:v1.6.0'
        memory = 70.GB
        disk = 500.GB
    }
    
    withName: doOnlySTARnCount{
        cpus = 12
        container = 'genehetx/genehetx-rnaseq:v1.6.0'
        memory = 70.GB
        disk = 500.GB
    }

    withName: FCounts{
        cpus = 16
        container = 'nanozoo/subread:2.0.2--53f5da6'
        memory = 16.GB
        disk = 1.TB
    }
        
    withName: KallistoPE{
        cpus = 12
        container = 'quay.io/biocontainers/kallisto:0.51.1--heb0cbe2_0'
        memory = 14.GB
        disk = 200.GB
    }

    withName: Kallisto_single_end{
        cpus = 12
        container = 'quay.io/biocontainers/kallisto:0.51.1--heb0cbe2_0'
        memory = 14.GB
        disk = 200.GB
    }

    withName: gatk_vc{
        cpus = 16
        container = 'genehetx/genehetx-rnaseq:v1.6.0'
        memory = 80.GB
        disk = 1.TB
    }

    withName: Vep{
        cpus = 16
        container = 'quay.io/biocontainers/ensembl-vep:113.2--pl5321h2a3209d_0'
        memory = 40.GB
        disk = 1.TB
    }
    
    withName:samtools_index{
        cpus = 4
        container = 'genehetx/genehetx-rnaseq:v1.6.0'
        memory = 10.GB
        disk = 200.GB
    }

    withName:Mosdepth{
        cpus = "${params.nproc}"
        container = 'quay.io/biocontainers/mosdepth:0.3.1--h4dc83fb_1'
    }

    withName:Bedtools{
        cpus = 1
        container = 'quay.io/biocontainers/bedtools:2.23.0--h5b5514e_6'
    }

    withName:Deepvariant{
        cpus = "${params.nproc}"
        memory = 40.GB
        disk = 500.GB
        container = 'google/deepvariant:1.4.0'
    }

    withName:multiqc{
        cpus = 4
        container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0'
        memory = 10.GB
        disk = 200.GB
        }

    withName:fastqc{
        cpus = 4
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        memory = 8.GB
        disk = 200.GB
    }

        errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
    maxRetries = 2

}

executor{
    name = 'slurm'
    queueSize = 20
}

cleanup = false


// Enable sigularity here
singularity{
    enabled = true
    singularity.autoMounts = true
    cacheDir = "./singularity/"
    path = "/usr/bin/singularity"
}


report.enabled = true